{
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "auto",
  "bracketSameLine": true,
  "jsxSingleQuote": false,
  "printWidth": 100,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5"
}
